<div id="edit-product" v-cloak>
    <div class="container mt-5">
        <div class="card text-light">
            <div class="card-header bg-dark">
                New product
            </div>
            <div class="card-body">

                <form method="POST" action="/edit-product/<%= data.id %>">
                    <input type='hidden' name='_csrf' value='<%= _csrf %>'>
                    <div class="row">
                        <div class="col-sm-12 col-md-4 mb-3">
                            <input type="text" class="form-control" placeholder="name" name="name" value="<%= data.name %>" required>
                        </div>
                        <div class="col-sm-12 col-md-4 mb-3">
                            <input type="number" class="form-control" placeholder="price" name="price" value="<%= data.price %>" required>
                        </div>
                        <div class="col-sm-12 col-md-4 mb-3">
                            <input type="number" class="form-control" placeholder="stock" name="stock" value="<%= data.stock %>" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="description" name="description" value="<%= data.description %>" required><%= data.description %></textarea>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <input type="text" class="form-control" placeholder="image" name="imgURL" value="<%=data.imgURL %>" required>
                        </div>
                    </div>
                    <a class=" btn btn-primary " href="/products ">Regresar</a>
                    <button class="btn btn-success float-right " type="submit ">Guardar</button>
                </form>
            </div>
            <div class="card-footer ">

            </div>
        </div>
    </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
